
body{
    text-align: center;
}

#canvas {
    border: 1px solid black;
    /* padding: 5px 10px; */
    margin-bottom: 13px;
  }


.download{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 7px;
    border-radius: 2px;
    font-weight: 600;
}
